{% extends "layout.html" %}

{% block content %}

<h1>Album form</h1>

{% if album_id %}
<form action="{% url 'album' album_id %}" method="post" class="form-horizontal" role="form">
{% else %}
<form action="{% url 'album' %}" method="post" class="form-horizontal" role="form">
{% endif %}
    {% csrf_token %}
    {% include "form.html" %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="save" class="btn btn-primary">Save</button>
            <button type="submit" name="cancel" class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>

{% endblock %}