{% extends "layout.html" %}

{% block content %}

<h1>Albums list</h1>
<p>
    <a href="{% url 'album' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add album
    </a>
</p>

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Artist</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for album in albums %}
        <tr>
            <td>{{ album.id }}</td>
            <td>{{ album.artist }}</td>
            <td>{{ album.title }}</td>
            <td>
                <a href="{% url 'album' album.id %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Update</a>
                <a href="{% url 'album_delete' album.id %}" class="btn btn-default"><span class="glyphicon glyphicon-remove-sign"></span> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}