{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Django test</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
</head>
<body>

    <div class="container">

        {% block content %}{% endblock %}

        <footer>
            Proudly powered by:
            <a href="http://www.python.org">Python <strong>{{ python_version }}</strong></a>
            | <a href="http://www.djangoproject.com">Django <strong>{{ django_version }}</strong></a>
            | <a href="http://sqlalchemy.org">SQLAlchemy <strong>{{ sqlalchemy_version }}</strong></a>
            | <a href="http://getbootstrap.com/">Bootstrap <strong>3</strong></a>
        </footer>

    </div>

</body>
</html>
